
.home-container {
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}

.slideshow {
    position: absolute;
}

.slideshow-img {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.85s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-banner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

/* For mobile */
@media (orientation: portrait) {

    .home-banner {
        top: 75%;
        width: 100%;
        img {
         width: 100%;
         height: auto;
        }
    } 
}

/* For Laptop */
@media (orientation: landscape) {
    .home-banner {
        top: 50%;
        img {
            height: 100%;
        }
    } 
}

