.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 75px !important;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 2;
}


//* For Laptop *//
@media (orientation: landscape) {

.navbar-logo img {
	width: 25vw;
	position: absolute;
	left: 3%;
	top: 37%;
}

#mobile-toggle {
	display: none;
}

.navbar {
	mix-blend-mode: difference;
	padding-top: 2rem;
}

.toggle {
	display: none;
}

.navbar-data {
	display: flex;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	list-style-type: none;
	letter-spacing: .10em !important;
	a {
		text-decoration: none;
		opacity: 0.80;
		margin-right: 60px;
		margin-left: -27px;
		color: white;
		border-bottom: 1px solid rgba(0, 0, 0, 0);
		&:hover {   
			border-bottom: 1px solid white; 
			opacity: 1;
			color: white;
			transition: 300ms;
		}
  	}
}

.navbar-highlight {
  a {
  border-bottom: 1px solid white;
  text-decoration: none;
  opacity: 1;
  transition: 300ms;
  color: white;
  }
}
}

/* For mobile */
@media (orientation: portrait) {

	.navbar-logo {
		overflow: hidden;
		text-decoration: none;
		img {
		width: 20vw;
		position: absolute;
		top: 36%;
        left: 8%;
		}
	}
	
	.navbar {
		flex-wrap: wrap;
		align-items: center;
		padding: 0 15px;
		background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
	}

	.nav-colored {
		background-color: black;
		transition: ease-in 400ms;
		opacity: 0.7;
	}
	
	.nav-transparent {
		background-color: transparent;
		transition: ease-out 400ms;
	}

	a {
		color: white;
	}

	.navbar li a {
		display: block;
		padding: 15px 5px;
		text-decoration: none;
		text-transform: uppercase;
		color: white;
	}

	.toggle img {
		order: 1;
		font-size: 25px;
		width: 20px;
		transform: translate(-180%, -35%);
	}

	.toggle {
		list-style-type: none;
		filter: invert(1);
	}

	.navbar-data {
		order: 2;
		width: 100%;
		text-align: center;
		display: none;
		padding: 10px;
		list-style-type: none;
		z-index: 1;
	}

	.active .navbar-data {
		display: block;
	}
}